*{
	box-sizing: border-box;
	font-size: 16px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
}
header{
    background-image: url(../img/background_mobile-1.png);
    background-size: cover;
    background-position: 40%;
    background-repeat: no-repeat;
    height: 100vh;
}

.menu-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.5);
    padding: 24px 24px;
   
}


.btn{
    width: 115px;
    height: 45px;

    border: 2px solid #FFFFFF;
    border-radius: 3.15px;
    
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;

    background: transparent;
    
}

.btn-logar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;

    background-color: #00AEFF;

    border-color: #00AEFF;
    border-radius: 3.15px;
    box-sizing: border-box;
    width: 115px;
    
}
.content-slide{
    width: 75vw;
    font-family: 'Poppins', sans-serif;
    margin-top: 51px;
    color: #FFFFFF;
    
}

.content-slide h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 44px;

}

.content-slide h4{
    font-size: 18px;
    font-weight: 100;
    line-height: 27px;
    margin-top: 16px;
    letter-spacing: -0.5%;
}

.content-slide button{
    background-color: #00AEFF;
    border: none;
    width: 168px;
    height: 52px;

    font-size: 16px;
    font-weight: 600;

    margin-top: 32px;
    
}


@media  (max-width: 768px){
    .btn-menu_principal{
        display: none;
    }
    
}

@media (min-width: 768px){
    .btn-menu_principal{
        display: flex;
        justify-content: end;
        gap: 32px;
    }
    .menu-principal{
        display: grid;
        grid-template-columns: 20% 60% 20%;
    }
    .col-right-menu{
        display: flex;
        justify-content: end;
    }
    header{
        background-image: url(../img/background_tablet-1.png);  
    }
    .content{
        display: flex;
        justify-content: center;
    }
    .content-slide{
        display: flex;
        width: 90%;
        height: 70vh;
       
    }

    .content-slide-column-right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}
